body {
  margin: 0;
  font-family: "Special Elite", cursive;
  color: #1e2749;
  background-color: #fffff2;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}
@media screen and (min-width: 700px) {
  body {
    font-size: 16px;
  }
}
@media screen and (min-width: 1100px) {
  body {
    font-size: 18px;
  }
}

h1,
h2,
h3 {
  font-family: "Amatic SC", cursive;
}

h1 {
  color: #f95738;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-align: center;
  margin-top: 1em;
}
@media screen and (min-width: 700px) {
  h1 {
    font-size: 46px;
  }
}
@media screen and (min-width: 1100px) {
  h1 {
    font-size: 50px;
  }
}

h2 {
  color: #1e2749;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
}

h3 {
  color: #1e2749;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
}

.wrapper {
  margin: 1em;
}

.header {
  width: 100%;
  background-color: #3d5a80;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
}
.header__title {
  grid-column: 2/3;
  margin: 1em;
}
@media screen and (min-width: 700px) {
  .header__title {
    grid-column: 1/2;
  }
}
.header__text {
  font-family: "Amatic SC", cursive;
  font-size: 26px;
  color: #fffff2;
  background-color: #3d5a80;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-align: center;
  border: 2px solid #fffff2;
  padding: 5px;
  border-radius: 5px;
}
@media screen and (min-width: 700px) {
  .header__text {
    font-size: 30px;
  }
}
@media screen and (min-width: 1000px) {
  .header__text {
    font-size: 36px;
  }
}
.header__menu {
  grid-column: 1/2;
  grid-row: 1;
  align-self: center;
  margin-right: 1em;
}
@media screen and (min-width: 700px) {
  .header__menu {
    grid-column: 2/3;
  }
}

.hero {
  width: 100%;
  height: 300px;
  margin: 0;
}
@media screen and (min-width: 650px) {
  .hero {
    height: 400px;
  }
}
@media screen and (min-width: 1000px) {
  .hero {
    height: 500px;
  }
}
.hero__heading {
  color: #fffff2;
  font-size: 46px;
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  letter-spacing: 0.2em;
  margin-top: 0;
  padding-top: 20%;
}
@media screen and (min-width: 700px) {
  .hero__heading {
    font-size: 50px;
    padding-top: 15%;
  }
}
@media screen and (min-width: 1100px) {
  .hero__heading {
    font-size: 54px;
  }
}
.hero--home {
  background: url("../images/smiling-boy.jpg");
  max-width: 100%;
  max-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero--cowork {
  background: url("../images/cowomen_red.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero--regular {
  background: url("../images/table.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero--events {
  background: url("../images/rainy.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero--contact {
  background: url("../images/contact.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  background-color: #3d5a80;
  color: #fffff2;
  margin: 0;
}
.footer__contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 8em 2em;
  padding: 1em;
  line-height: 2;
  margin-bottom: 0;
}
.footer__left {
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: left;
}
.footer__right {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: right;
}
.footer__down {
  grid-column: 1/3;
  grid-row: 2/3;
  text-align: center;
}

.menu {
  background-color: #3d5a80;
}
.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #3d5a80;
  display: none;
}
@media screen and (min-width: 700px) {
  .menu__list {
    display: flex !important;
    justify-content: center;
    padding: 0;
  }
}
@media screen and (min-width: 1000px) {
  .menu__list {
    justify-content: flex-end;
  }
}
.menu__checkbox {
  position: absolute;
  left: -9999px;
}
.menu__checkbox:checked ~ .menu__list {
  display: block;
}
.menu__item {
  font-size: 12px;
  border-bottom: 1px solid #fffff2;
}
@media screen and (min-width: 700px) {
  .menu__item {
    border: none;
    font-size: 16px;
  }
}
@media screen and (min-width: 1000px) {
  .menu__item {
    font-size: 20px;
  }
}
.menu__link {
  display: block;
  text-decoration: none;
  color: #fffff2;
  padding: 10px;
}
.menu__link:hover {
  background-color: #f95738;
}
@media screen and (min-width: 700px) {
  .menu__link {
    padding: 20px;
  }
  .menu__link:hover {
    border-radius: 10px;
  }
}
.menu__toggler {
  cursor: pointer;
  color: #fffff2;
  font-size: 20px;
  margin-left: 10px;
  /*border: 1px solid colors.$c-background;
  border-radius: 5px;*/
  padding: 5px 5px 0 5px;
}
@media screen and (min-width: 700px) {
  .menu__toggler {
    display: none;
  }
}

.image {
  max-width: 80%;
  border-radius: 65% 75% 70% 60%;
}

.image-container {
  position: relative;
  margin-top: 2em;
}
@media screen and (min-width: 700px) {
  .image-container {
    margin-top: 0;
  }
}

.image-container::after {
  content: "";
  padding-top: 2em;
  display: inline-block;
  position: absolute;
  border-radius: 65% 75% 70% 60%;
  top: 65%;
  left: 70%;
  width: 22%;
  height: 20%;
  z-index: 1;
  background-color: #ee6c4d;
}
@media screen and (min-width: 700px) {
  .image-container::after {
    display: none;
  }
}
@media screen and (min-width: 900px) {
  .image-container::after {
    display: inline-block;
  }
}

.image-container--regular-english::after {
  background-color: #f4d35e;
  border-radius: 70% 60% 75% 65%;
  top: 10%;
  left: 5%;
}

.image-container--regular-yoga::after {
  top: 60%;
  left: 70%;
  background-color: #98c1d9;
}

.image-container--cowork1::after {
  background-color: #f4d35e;
  left: 10%;
}

.gallery {
  display: grid;
  grid-gap: 10px;
}
.gallery__image {
  max-width: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-portrait {
  max-width: 60%;
  border-radius: 50%;
}
.image-portrait--contact {
  max-width: 30%;
}

.image-event {
  max-width: 100%;
  border-radius: 10px;
}

.icon {
  max-width: 80%;
}
.icon__facebook {
  max-width: 10%;
  margin-top: 1em;
}

.button {
  border-radius: 30px;
  padding: 10px;
  border: none;
  background-color: #3d5a80;
  color: white;
  margin-top: 1em;
}
.button__link {
  font-family: "Amatic SC", cursive;
  text-decoration: none;
  padding: 1em;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #fffff2;
}
.button:hover {
  background-color: #f95738;
}

.intro {
  text-align: center;
  padding: 0.5em;
  font-weight: 600;
}
@media screen and (min-width: 700px) {
  .intro {
    font-size: 18px;
    margin: 1em 2em;
  }
}
@media screen and (min-width: 1100px) {
  .intro {
    font-size: 20px;
    margin: 1em 3em;
  }
}

.wrapper--home {
  display: grid;
  place-items: center;
  grid-template-columns: 100%;
  grid-template-rows: [intro] auto [cowork] auto [activities] auto [references] auto [about] auto;
}

.home-hero__text {
  font-size: 16px;
  font-weight: 700;
  color: #f95738;
  padding: 2em;
  display: inline-block;
  background-color: #fffff2;
  border-radius: 65% 75% 70% 60%;
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 17em;
}
@media screen and (min-width: 650px) {
  .home-hero__text {
    font-size: 20px;
    margin-right: 20em;
  }
}
@media screen and (min-width: 800px) {
  .home-hero__text {
    font-size: 24px;
  }
}
@media screen and (min-width: 1000px) {
  .home-hero__text {
    font-size: 28px;
    margin-top: 3em;
    margin-left: 1em;
    margin-right: 25em;
    padding: 2.5em;
  }
}

.home-intro {
  grid-row: intro/intro;
}

.home-cowork {
  grid-row: cowork;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: [cowork-image] auto [cowork-about] auto;
  margin: 2em;
}
@media screen and (min-width: 700px) {
  .home-cowork {
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    -moz-column-gap: 1.5em;
         column-gap: 1.5em;
  }
}
.home-cowork__image-container {
  grid-row: cowork-image;
}
@media screen and (min-width: 700px) {
  .home-cowork__image-container {
    grid-column: 1/2;
    grid-row: 1/1;
  }
}
.home-cowork__text {
  grid-row: cowork-about;
}
@media screen and (min-width: 700px) {
  .home-cowork__text {
    grid-column: 2/3;
    grid-row: 1/1;
  }
}

.home-activities {
  grid-row: activities;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr;
}
@media screen and (min-width: 1100px) {
  .home-activities {
    grid-template-columns: [regular] 1fr [workshops] 1fr [events] 1fr;
    grid-template-rows: [a-image] 50% [a-text] 50%;
  }
}
.home-activities__item {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: [a-image] auto [a-text] auto;
}
@media screen and (min-width: 700px) {
  .home-activities__item {
    grid-template-columns: [a-left] 1fr [a-right] 1fr;
    grid-template-rows: 100%;
    margin: 2em;
  }
}
@media screen and (min-width: 1100px) {
  .home-activities__item {
    grid-template-columns: 100%;
    grid-template-rows: [a-image] auto [a-text] auto;
  }
}
.home-activities__image-container {
  grid-row: a-image;
}
@media screen and (min-width: 700px) {
  .home-activities__image-container {
    grid-column: a-left;
    grid-row: 1/1;
  }
}
@media screen and (min-width: 1100px) {
  .home-activities__image-container {
    grid-column: auto;
    grid-row: a-image;
  }
}
.home-activities__text {
  grid-row: a-text;
}
@media screen and (min-width: 700px) {
  .home-activities__text {
    grid-column: a-right;
    grid-row: 1/1;
  }
}
@media screen and (min-width: 1100px) {
  .home-activities__text {
    grid-column: auto;
    grid-row: a-text;
  }
}

.home-references {
  grid-row: references;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: [ref-heading] auto [ref-reference] auto;
  place-items: center;
}
@media screen and (min-width: 700px) {
  .home-references {
    max-width: 60%;
  }
}
.home-references__heading {
  grid-row: ref-heading;
}
.home-references__reference {
  grid-row: ref-reference;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: [r-text] auto [r-image] auto [r-author] auto;
  place-items: center;
  margin: 0 3em;
  border: 2px dotted #f4d35e;
  border-radius: 10px;
  padding: 1em;
}
.home-references__text {
  grid-row: r-text;
}
.home-references__image-container {
  grid-row: r-image;
}
.home-references__author {
  grid-row: r-author;
}

.home-about {
  grid-row: about;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: [about-about] auto [about-gallery] auto;
  margin: 1em 4em;
}
.home-about__about {
  grid-row: about-about;
}
.home-about__gallery {
  grid-row: gallery;
  display: grid;
}
@media screen and (min-width: 700px) {
  .home-about__gallery {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: column;
  }
}
@media screen and (min-width: 1000px) {
  .home-about__gallery {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.wrapper--cowork {
  grid-template-rows: [intro] auto [icons] auto [reservation] auto [about] auto [references] auto;
  margin: 2em;
}

.cowork__grid {
  display: grid;
  place-items: center;
  grid-template-columns: 100%;
  grid-gap: 1em;
  margin: 1em;
}
@media screen and (min-width: 750px) {
  .cowork__grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}
@media screen and (min-width: 750px) {
  .cowork__text {
    grid-column: 1/2;
  }
}
.cowork__subheading {
  font-size: 24px;
  font-weight: 700;
  color: #f95738;
  padding: 1em 4em;
}
@media screen and (min-width: 750px) {
  .cowork__subheading {
    font-size: 28px;
    grid-column: 1/3;
  }
}
@media screen and (min-width: 1100px) {
  .cowork__subheading {
    font-size: 32px;
  }
}
.cowork__prices {
  align-self: first baseline;
}
@media screen and (min-width: 700px) {
  .cowork__prices {
    grid-template-rows: 5/6;
  }
}
@media screen and (min-width: 700px) {
  .cowork__reservation {
    grid-template-rows: 6/7;
  }
}

.regular {
  display: grid;
  place-items: center;
  grid-template-columns: 100%;
  grid-template-rows: [intro] auto [english] auto [yoga] auto;
  grid-gap: 1em;
  margin: 1em;
}
@media screen and (min-width: 650px) {
  .regular {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: [intro] auto [offer] auto;
  }
}
.regular__intro {
  grid-row: intro;
}
@media screen and (min-width: 650px) {
  .regular__intro {
    grid-column: 1/3;
    align-self: center;
    grid-row: 1/1;
  }
}
.regular__english {
  grid-row: english;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: [eng-image] auto [eng-about] auto [eng-button] auto;
  place-items: center;
  margin: 1em 2em;
}
.regular__yoga {
  grid-row: yoga;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: [eng-image] auto [eng-about] auto [eng-button] auto;
  place-items: center;
  margin: 1em 2em;
}

.events__grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-gap: 1em;
}
@media screen and (min-width: 700px) {
  .events__grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1100px) {
  .events__grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.event {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  background-color: white;
  border: 2px dotted #f4d35e;
  padding: 1em;
  border-radius: 10px;
  grid-gap: 1em;
}
@media screen and (min-width: 1000px) {
  .event {
    grid-template-rows: auto auto;
  }
}
.event__image-container {
  grid-column: 1/3;
  grid-row: 1/1;
}
.event__image {
  -o-object-fit: cover;
     object-fit: cover;
}
.event__h1, .event__h2, .event__h3 {
  font-family: "Special Elite", cursive;
  margin: 0;
  text-align: left;
}
.event__h1 {
  font-size: 16px;
  margin-bottom: 0.5em;
}
.event__h2 {
  font-size: 14px;
  text-align: right;
}
.event__h3 {
  font-size: 12px;
}
.event__left {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-top: 1em;
  text-align: left;
}
.event__right {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-top: 1em;
}

.contact-us__box {
  background-color: #1e2749;
  color: #fffff2;
  padding: 2em;
  border-radius: 10px;
  margin: 2em;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto auto auto auto;
  grid-gap: 1em;
}
@media screen and (min-width: 700px) {
  .contact-us__box {
    max-width: 60%;
    margin: auto;
  }
}
.contact-us__intro {
  grid-column: 1/span 2;
  grid-row: 1/2;
}
.contact-us__phone {
  grid-row: 2/3;
}
.contact-us__mail {
  grid-row: 3/4;
}
.contact-us__messenger {
  grid-row: 4/5;
}
.contact-us__icon {
  grid-column: 1/2;
}
.contact-us__icon-text {
  grid-column: 2/3;
  text-align: left;
}/*# sourceMappingURL=main.css.map */