@use "colors";
@use "fonts";
@use "basics";

.about {
    margin: 50px;
  
    &__text {
      margin: 30px 50px;
    }
  
    &__gallery {
      display: grid;
      gap: 10px;
      grid-template-columns: 25% 40% 35%;
      grid-template-rows: 60% 40%;
      grid-auto-flow: column;
    }
  
    &__image {
      width: 100%;
      border-radius: 5%;
    }
  }
  