@use "colors";
@use "fonts";

body {
    margin: 0;
    font-family: fonts.$f-default;
    color: colors.$c-text;
    background-color: colors.$c-background;
  }

h1, h2, h3 {
    font-family: fonts.$f-heading;
}

h1 {
    color: colors.$c-button;
    font-size: 52px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
}

h2 {
    color: colors.$c-text;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 2px;
}