@use "colors";
@use "fonts";
@use "basics";


.cowork {
    margin: 80px auto;
    text-align: right;
    display: flex;
    justify-content: space-between;
  
    &__heading {
      text-align: left;
    }
    &__left {
      margin-right: 50px;
      margin-left: 50px;
      line-height: 1.5;
      text-align: left;
      flex-basis: 45%;
    }
  
    &__right {
      flex-basis: 55%;
    }
    &__image {
      margin-right: 0;
      width: 100%;
      border-radius: 20px 0 0 20px;
    }
  
    &__button {
      border-radius: 10px;
      padding: 10px;
      font-size: 20px;
      border: none;
      background-color: colors.$c-menu;
      color: white;
      margin-top: 30px;
      &:hover {
        background-color: colors.$c-button;
      }
    }
    &__link {
      font-family: fonts.$f-heading;
      text-decoration: none;
      font-weight: 700;
      letter-spacing: 2px;
      color: colors.$c-background;
    }
  }