@use "colors";
@use "fonts";
@use "basics";

.references {
    margin-bottom: 50px;
  
    &__container {
      width: 25%;
      margin: auto;
      text-align: center;
    }
  
    &__image {
      width: 200px;
      border-radius: 50%;
    }
  }