<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Swinging Carrots</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Asap+Condensed:wght@400;500;600&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <header class="header">
        <nav class="menu">
          <ul class="menu__list">
            <li class="menu__item">
              <a href="/" class="menu__link">Domů</a>
            </li>
            <li class="menu__item">
              <a href="/cowork" class="menu__link">Coworking</a>
            </li>
            <li class="menu__item">
              <a href="/regular" class="menu__link">Kroužky</a>
            </li>
            <li class="menu__item">
              <a href="/events" class="menu__link">Akce</a>
            </li>
            <li class="menu__item">
              <a href="/about" class="menu__link">O nás</a>
            </li>
            <li class="menu__item">
              <a href="/contact" class="menu__link">Kontakt</a>
            </li>
          </ul>
        </nav>
        <div class="header__left">
          <!--<div class="header__image">
                <img class="header__logo" src="images/logo.jpg" alt="Logo">
            </div>-->
          <div class="header__title"></div>
        </div>
      </header>
      <main>
        {{ content | safe }}
      </main>

      <!--FOOTER section-->
      <footer class="footer">
        <div class="footer__contact">
          <div class="footer__left">
            <p>
              Swinging Carrots<br />
              Nad kašnou 34, Brno - Bystrc<br />
            </p>
          </div>
          <div class="footer__right">
            <p>
              +420 123 456 789<br />
              swinging@carrots.cz<br />
              Facebook
            </p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
