@use "../base/basics";
@use "../base/colors";
@use "../base/fonts";


.wrapper--cowork {
grid-template-rows: [intro] auto [icons] auto [reservation] auto [about] auto [references] auto;
margin: 2em;
}

.cowork {
  &__grid {
display: grid;
  place-items: center;
  grid-template-columns: 100%;
  
  grid-gap: 1em;
  margin: 1em;

  @media screen and (min-width: 750px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  }

  &__text {
    @media screen and (min-width: 750px) {
      grid-column: 1/2;
    }
  }

  &__subheading {
    font-size: 24px;
    font-weight: 700;
    color: colors.$c-button;
    padding: 1em 4em;
    @media screen and (min-width: 750px) {
      font-size: 28px;
      grid-column: 1/3;
    }
    @media screen and (min-width: 1100px) {
      font-size: 32px;
    }
  }

  &__prices {
    align-self: first baseline;
    @media screen and (min-width: 700px) {
      grid-template-rows: 5/6;
    }
  }

  &__reservation {
    @media screen and (min-width: 700px) {
      grid-template-rows: 6/7;
    }
  }
}
