@use "../base/basics";
@use "../base/colors";
@use "../base/fonts";

.events {
  &__grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 1em;

    @media screen and (min-width: 700px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 1100px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
.event {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  background-color: white;
  border: 2px dotted colors.$c-icons;
  padding: 1em;
  border-radius: 10px;
  grid-gap: 1em;

  @media screen and (min-width: 1000px) {
    grid-template-rows: auto auto;
  }

  &__image-container {
    grid-column: 1/3;
    grid-row: 1/1;
  }

  &__image {
    object-fit: cover;
  }

  &__h1,
  &__h2,
  &__h3 {
    font-family: fonts.$f-default;
    margin: 0;
    text-align: left;
  }

  &__h1 {
    font-size: 18px;
    margin-bottom: 0.5em;
  }
  &__h2 {
    font-size: 16px;
    text-align: right;
  }

  &__h3 {
    font-size: 14px;
  }

  &__left {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 1em;
    text-align: left;
  }

  &__right {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 1em;
  }
}
