@use "../base/fonts";
@use "../base/basics";
@use "../base/colors";

.wrapper--home {
  display: grid;
  place-items: center;
  grid-template-columns: 100%;
  grid-template-rows: [intro] auto [cowork] auto [activities] auto [references] auto [about] auto;
}

.home-intro {
  grid-row: intro / intro;
}

.home-cowork {
  grid-row: cowork;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: [cowork-image] auto [cowork-about] auto;
  margin: 2em;

  @media screen and (min-width: 700px) {
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    column-gap: 1.5em;
  }

  &__image-container {
    grid-row: cowork-image;
    @media screen and (min-width: 700px) {
      grid-column: 1/2;
      grid-row: 1/1;
    }
  }

  &__text{
    grid-row: cowork-about;
    @media screen and (min-width: 700px) {
      grid-column: 2/3;
      grid-row: 1/1;
  }
}
}

.home-activities {
  grid-row: activities;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr;

  @media screen and (min-width: 1100px) {
    grid-template-columns: [regular] 1fr [workshops] 1fr [events] 1fr;
    grid-template-rows: [a-image] 50% [a-text] 50%;
  }

  &__item {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: [a-image] auto [a-text] auto;
    @media screen and (min-width: 700px) {
      grid-template-columns: [a-left] 1fr [a-right] 1fr;
      grid-template-rows: 100%;
      margin: 2em;
    }
    @media screen and (min-width: 1100px) {
      grid-template-columns: 100%;
      grid-template-rows: [a-image] auto [a-text] auto;
    }
    }

  &__image-container {
    grid-row: a-image;
    @media screen and (min-width: 700px) {
      grid-column: a-left;
      grid-row: 1/1;
    }
    @media screen and (min-width: 1100px) {
      grid-column: auto;
      grid-row: a-image;
    }
  }

  &__text {
    grid-row: a-text;
    @media screen and (min-width: 700px) {
      grid-column: a-right;
      grid-row: 1/1;
    }
    @media screen and (min-width: 1100px) {
      grid-column: auto;
      grid-row: a-text;
    }
  }
  }



.home-references {
  grid-row: references;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: [ref-heading] auto [ref-reference] auto;
  place-items: center;

  @media screen and (min-width: 700px) {
    max-width: 60%;
  }

  &__heading {
    grid-row: ref-heading;
  }

  &__reference {
    grid-row: ref-reference;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: [r-text] auto [r-image] auto [r-author] auto;
    place-items: center;
    margin: 0 3em;
    border: 2px dotted colors.$c-icons;
    border-radius: 10px;
    padding: 1em;
  }

  &__text {
    grid-row: r-text;
  }

  &__image-container {
    grid-row: r-image;
  }

  &__author {
    grid-row: r-author;
  }


}

.home-about {
  grid-row: about;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: [about-about] auto [about-gallery] auto;
  margin: 1em 4em;

  &__about {
    grid-row: about-about;
  }

  &__gallery {
    grid-row: gallery;
    display: grid;
    @media screen and (min-width: 700px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-auto-flow: column;
    }
    @media screen and (min-width: 1000px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }

  }
}

