@use "../layout/colors";
@use "../layout/fonts";
@use "../layout/basics";
@use "../layout/images";

.wrapper--home {
  display: grid;
  place-items: center;
  grid-template-columns: 100%;
  grid-template-rows: [intro] auto [cowork] auto [activities] auto [references] auto [about] auto;
  grid-gap: 1em;
  margin: 1em;
}

.home-intro {
  grid-row: intro / intro;
  &__text {
    text-align: center;
    font-size: 16px;
    padding: 0.5em;
    font-weight: 600;
  }
}

.home-cowork {
  grid-row: cowork;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: [cowork-image] auto [cowork-about] auto [cowork-button] auto;
  place-items: center;
  margin: 1em 2em;

  @media screen and (min-width: 650px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25% 50% 25%;
    .image-container--home-cowork {
      grid-column: 1/2;
      grid-row: 1 / span 3;
    }
    .heading--home-cowork {
      grid-column: 2/3;
      grid-row: 1/2;
    }
    .text--home-cowork {
      grid-column: 2/3;
      grid-row: 2/3;
    }
    .button--home-cowork {
      grid-column: 2/3;
      grid-row: 3/4;
    }
  }

  /*
  &__image-container {
    grid-row: cowork-image;
  }

  &__about {
    grid-row: cowork-about;
  }

  &__button {
    grid-row: cowork-button;
  }
 
  
  @media screen and (min-width: 650px) {
    font-size: 48px;
  }

  @media screen and (min-width: 1000px) {
    font-size: 52 px;
  }*/
}

.home-activities {
  grid-row: activities;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: [activities-image] auto [activities-heading] auto [activities-regular] auto [regular-button] auto [activities-workshops] auto [workshops-button] auto [activities-events] auto [events-button] auto;
  place-items: center;
  margin: 1em 2em;

  &__image-container {
    grid-row: activities-image;
  }

  &__heading {
    grid-row: activities-heading;
    margin-top: 0;
  }

  &__item--regular {
    grid-row: activities-regular;
  }

  &__button--regular {
    grid-row: regular-button;
    margin-bottom: 4em;
    margin-top: 0;
  }
  &__item--workshops {
    grid-row: activities-workshops;
  }

  &__button--workshops {
    grid-row: workshops-button;
    margin-bottom: 4em;
  }

  &__item--events {
    grid-row: activities-events;
  }

  &__button--events {
    grid-row: events-button;
  }
}

.home-references {
  grid-row: references;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: [ref-heading] auto [ref-reference] auto;
  place-items: center;
  margin: 1em 2em;

  &__heading {
    grid-row: ref-heading;
  }

  &__reference {
    grid-row: ref-reference;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: [r-text] auto [r-image] auto [r-author] auto;
    place-items: center;
    margin: 0 3em;
  }

  &__text {
    grid-row: r-text;
  }

  &__image-container {
    grid-row: r-image;
  }

  &__author {
    grid-row: r-author;

  }
}

.home-about {
  grid-row: about;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: [about-about] auto [about-gallery] auto;
  place-items: center;
  margin: 1em 2em;

  &__about {
    grid-row: about-about;
  }

  &__gallery {
    grid-row: gallery;
  }
}

