<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Swinging Carrots</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Asap+Condensed:wght@400;500;600&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  
<nav class="menu">
  <input type="checkbox" class="menu__checkbox" id="menu-checkbox" />
  <label for="menu-checkbox" class="menu__toggler">☰</label>
  <ul class="menu__list">
    <li class="menu__item">
      <a href="/" class="menu__link">Domů</a>
    </li>
    <li class="menu__item">
      <a href="/cowork" class="menu__link">Coworking</a>
    </li>
    <li class="menu__item">
      <a href="/regular" class="menu__link">Kroužky</a>
    </li>
    <li class="menu__item">
      <a href="/events" class="menu__link">Aktivity</a>
    </li>
    <li class="menu__item">
      <a href="/contact" class="menu__link">Kontakt</a>
    </li>
  </ul>
</nav>