/*$c-text:#1E2749;
$c-button:#EF5B5B;
$c-background:#FFFFF3;
$c-menu:#61988E;
$c-plus: #FFDD4A;*/

$c-text:#1E2749;
$c-background:#FFFFF2;
$c-button:#f95738;   
$c-menu:#3D5A80;
$c-icons: #F4D35E;

$c-olive:#70AE6E; 
$c-coral:#EE6C4D;
$c-baby:#98C1D9;



/*

 Nature-inspired:
        Primary: #3D5A80 (Navy Blue), #98C1D9 (Baby Blue), #EE6C4D (Coral Red)
        Secondary: #F4D35E (Mustard Yellow), #70AE6E (Olive Green), #F95738 (Terracotta)


    Playful and Vibrant:
        Primary: #FF6B6B (Coral), #FFD166 (Goldenrod), #06D6A0 (Turquoise)
        Secondary: #118AB2 (Deep Sky Blue), #EF476F (Watermelon), #FFD166 (Goldenrod)

    Fresh and Modern:
        Primary: #2EC4B6 (Teal), #FF9F1C (Orange), #FFD166 (Yellow)
        Secondary: #065A60 (Dark Cyan), #FF6B6B (Salmon), #FFB30F (Amber)

   


*/