@use "../base/colors";
@use "../base/fonts";
@use "../base/basics";

.footer {
  background-color: colors.$c-menu;
  color: colors.$c-background;
  margin: 0;
  &__down {
    margin-bottom: 0;
    margin-top: 2em;
    padding-bottom: 1em;
  }
}
