@use "../base/colors";
@use "../base/fonts";
@use "../base/basics";

.menu {
  height: 80%;
  background-color: colors.$c-menu;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: colors.$c-menu;
    display: none;
    @media screen and (min-width: 700px) {
      display: flex !important;
      justify-content: center;
      padding: 0;
    }
    @media screen and (min-width: 1000px) {
      justify-content: flex-end;
    }
  }

  &__checkbox {
    position: absolute;
    left: -9999px;
  }

  &__checkbox:checked ~ .menu__list {
    display: block;
  }

  &__item {
    font-size: 12px;
    border-bottom: 1px solid colors.$c-background;
    @media screen and (min-width: 700px) {
      border: none;
      font-size: 16px;
    }
    @media screen and (min-width: 1000px) {
      font-size: 20px;
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    color: colors.$c-background;
    padding: 10px;
    &:hover {
      background-color: colors.$c-button;
    }
    @media screen and (min-width: 700px) {
      padding: 20px;
      &:hover {
        border-radius: 10px;
      }
    }
  }

  &__toggler {
    cursor: pointer;
    color: colors.$c-background;
    font-size: 20px;
    margin-left: 10px;
    /*border: 1px solid colors.$c-background;
    border-radius: 5px;*/
    padding: 5px 5px 0 5px;
    @media screen and (min-width: 700px) {
      display: none;
    }
  }
}
